# <font color=blue> Real Time Stock Ticker Streaming - Kafka Producer </font>

Producing the streaming data, where you can use csv modules to read and publish the data to the Kafka stream.

### Flight Data Overview:
The flight-delays and cancellation data was collected and published by the U.S. Department of Transportationâ€™s (DOT) Bureau of Transportation Statistics. This data records the flights operated by large air carriers and tracks the on-time performance of domestic flights. This data summarises various flight information such as the number of on-time, delayed, cancelled, and diverted flights published in DOT's monthly in 2015.

In [2]:
# import required libraries
import pandas as pd

from time import sleep
from json import dumps
from kafka import KafkaProducer
import random
import csv
from datetime import timezone
import datetime

In [3]:
import yfinance as yf
from pandas_datareader import data as pdr
from datetime import datetime
yf.pdr_override()

In [8]:
stock = 'AMAT'
def GetHistoricalData(numberOfMonths = 2):
    print(numberOfMonths)
    end = datetime.now()
    start = datetime(end.year, end.month - numberOfMonths, end.day , end.hour, end.minute,end.second)
    print(start,end)
    df_Historical = yf.download(stock, start, end)
    df_Historical = df_Historical.reset_index()
    df_Historical['Label'] = stock
    df_Historical['Date'] = pd.to_datetime(df_Historical['Date'])
    return(df_Historical)

In [9]:
df_Historical = GetHistoricalData()

2
2023-02-13 11:26:50 2023-04-13 11:26:50.121364
[*********************100%***********************]  1 of 1 completed

In [10]:
df_Historical.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Label
0,2023-02-13,115.169998,116.720001,114.550003,116.529999,116.257736,4198200,AMAT
1,2023-02-14,114.870003,119.010002,113.849998,118.440002,118.163277,4870700,AMAT
2,2023-02-15,117.000000,119.580002,115.989998,119.459999,119.180885,4980000,AMAT
3,2023-02-16,116.879997,118.080002,115.139999,115.389999,115.120399,9117600,AMAT
4,2023-02-17,116.779999,117.400002,113.379997,115.440002,115.170280,9287100,AMAT

In [11]:
df_Historical.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,Label
36,2023-04-05,119.589996,119.690002,115.650002,117.320000,117.320000,6691700,AMAT
37,2023-04-06,114.180000,115.290001,111.870003,114.449997,114.449997,6275000,AMAT
38,2023-04-10,112.470001,116.709999,112.449997,116.500000,116.500000,4096500,AMAT
39,2023-04-11,117.330002,117.830002,116.080002,116.379997,116.379997,3373000,AMAT
40,2023-04-12,117.730003,117.800003,112.870003,113.160004,113.160004,5837200,AMAT

In [12]:
def GetLiveData():
    ticker = yf.Ticker(stock).info
    market_price = ticker['regularMarketPrice']
    market_open = ticker['regularMarketOpen']
    market_High = ticker['regularMarketDayHigh']
    market_Low = ticker['regularMarketDayLow']
    market_volume = ticker['regularMarketVolume']
    market_symbol = ticker['symbol']
    #print('Ticker: AMAT')
    #print('Market Price:', market_price)
    #print('Previous Close Price:', previous_close_price)
    df_live = {'Date':datetime.now(),'Open': market_open , 'High':market_High,'Low':market_Low,'Close':market_price,'Adj Close':market_price,'Volume':market_volume,'Label':market_symbol}
    return(df_live)

In [13]:
df_live = GetLiveData()

In [14]:
df_all = df_Historical.append(df_live, ignore_index = True)

C:\Users\safar\AppData\Local\Temp\ipykernel_27940\2787631416.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_Historical.append(df_live, ignore_index = True)

In [15]:
df_all.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Label
0,2023-02-13,115.169998,116.720001,114.550003,116.529999,116.257736,4198200,AMAT
1,2023-02-14,114.870003,119.010002,113.849998,118.440002,118.163277,4870700,AMAT
2,2023-02-15,117.000000,119.580002,115.989998,119.459999,119.180885,4980000,AMAT
3,2023-02-16,116.879997,118.080002,115.139999,115.389999,115.120399,9117600,AMAT
4,2023-02-17,116.779999,117.400002,113.379997,115.440002,115.170280,9287100,AMAT

In [16]:
df_all.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,Label
37,2023-04-06 00:00:00.000000,114.180000,115.290001,111.870003,114.449997,114.449997,6275000,AMAT
38,2023-04-10 00:00:00.000000,112.470001,116.709999,112.449997,116.500000,116.500000,4096500,AMAT
39,2023-04-11 00:00:00.000000,117.330002,117.830002,116.080002,116.379997,116.379997,3373000,AMAT
40,2023-04-12 00:00:00.000000,117.730003,117.800003,112.870003,113.160004,113.160004,5837200,AMAT
41,2023-04-13 11:27:06.787608,113.530000,113.880000,111.515000,113.240000,113.240000,2015788,AMAT

In [18]:
df_all['Date'] =df_all['Date'].astype(str)

In [20]:
all_data = df_all.to_dict(orient='records')
print(all_data[0])

{'Date': '2023-02-13 00:00:00.000000', 'Open': 115.16999816894531, 'High': 116.72000122070312, 'Low': 114.55000305175781, 'Close': 116.52999877929688, 'Adj Close': 116.25773620605469, 'Volume': 4198200, 'Label': 'AMAT'}

In [21]:
len(all_data)

42

## Step 3

#### Create publisher and producer function

Functions are taken from the Week 9 Lab material provided.

In [22]:
# function that publishes the message 
def publish_message(producer_instance, topic_name, data):
    print(data)
    try:
        producer_instance.send(topic_name, data)
        
    except Exception as ex:
        print('Exception in publishing message.')
        print(str(ex))

        
# function that connects the kafka producer        
def connect_kafka_producer():
    _producer = None
    try:
        _producer = KafkaProducer(bootstrap_servers=['192.168.86.48:9092'],
                                  value_serializer=lambda x: dumps(x).encode('ascii'),
                                  api_version=(0, 10))
    except Exception as ex:
        print('Exception while connecting Kafka.')
        print(str(ex))
    finally:
        return _producer

In [23]:
producer = connect_kafka_producer()

## Step 4

#### Send desired data batches 

Using the above created functions we create the desired flight data batches and send them so the consumers can receive the data.

In [25]:
if __name__ == '__main__':
   
    
    ## SET TOPIC AND DATA TO BE SENT
    
    topic = 'stock_ticker'
    
    #all_data = df.to_dict(orient='records')
    
    ## SET THE PRODUCERS
    
    #producer = connect_kafka_producer()
    
    
    
    ## GET DATA AND META DATA FOR EACH KEY
    
    
    iteration_counter = 0
    

    # start the data publishing process
    print('Publishing records..')
    
    # set a continous loop to produce and publish data
    df_Historical = GetHistoricalData()
    while True: 
            df_live = GetLiveData()
            df_all = df_Historical.append(df_live, ignore_index = True)
            df_all['Date'] =df_all['Date'].astype(str)
            all_data = df_all.to_dict(orient='records')
            publish_message(producer, topic, all_data)
                
         
            
            if iteration_counter > 100:
                break
                
            iteration_counter += 1   
            
            # send producer to sleep 
            sleep(120)

Publishing records..
[{'Date': '2023-02-13 00:00:00.000000', 'Open': 115.16999816894531, 'High': 116.72000122070312, 'Low': 114.55000305175781, 'Close': 116.52999877929688, 'Adj Close': 116.25773620605469, 'Volume': 4198200, 'Label': 'AMAT'}, {'Date': '2023-02-14 00:00:00.000000', 'Open': 114.87000274658203, 'High': 119.01000213623047, 'Low': 113.8499984741211, 'Close': 118.44000244140625, 'Adj Close': 118.16327667236328, 'Volume': 4870700, 'Label': 'AMAT'}, {'Date': '2023-02-15 00:00:00.000000', 'Open': 117.0, 'High': 119.58000183105469, 'Low': 115.98999786376953, 'Close': 119.45999908447266, 'Adj Close': 119.1808853149414, 'Volume': 4980000, 'Label': 'AMAT'}, {'Date': '2023-02-16 00:00:00.000000', 'Open': 116.87999725341797, 'High': 118.08000183105469, 'Low': 115.13999938964844, 'Close': 115.38999938964844, 'Adj Close': 115.12039947509766, 'Volume': 9117600, 'Label': 'AMAT'}, {'Date': '2023-02-17 00:00:00.000000', 'Open': 116.77999877929688, 'High': 117.4000015258789, 'Low': 113.37999725341797, 'Close': 115.44000244140625, 'Adj Close': 115.17028045654297, 'Volume': 9287100, 'Label': 'AMAT'}, {'Date': '2023-02-21 00:00:00.000000', 'Open': 113.63999938964844, 'High': 114.83000183105469, 'Low': 110.93000030517578, 'Close': 111.27999877929688, 'Adj Close': 111.0199966430664, 'Volume': 7583900, 'Label': 'AMAT'}, {'Date': '2023-02-22 00:00:00.000000', 'Open': 111.12000274658203, 'High': 112.37999725341797, 'Low': 109.4800033569336, 'Close': 110.41000366210938, 'Adj Close': 110.41000366210938, 'Volume': 5089200, 'Label': 'AMAT'}, {'Date': '2023-02-23 00:00:00.000000', 'Open': 112.54000091552734, 'High': 113.95999908447266, 'Low': 109.91000366210938, 'Close': 112.91000366210938, 'Adj Close': 112.91000366210938, 'Volume': 7136100, 'Label': 'AMAT'}, {'Date': '2023-02-24 00:00:00.000000', 'Open': 111.01000213623047, 'High': 112.0999984741211, 'Low': 110.37999725341797, 'Close': 111.30999755859375, 'Adj Close': 111.30999755859375, 'Volume': 5808400, 'Label': 'AMAT'}, {'Date': '2023-02-27 00:00:00.000000', 'Open': 113.51000213623047, 'High': 113.88999938964844, 'Low': 111.48999786376953, 'Close': 112.06999969482422, 'Adj Close': 112.06999969482422, 'Volume': 5362700, 'Label': 'AMAT'}, {'Date': '2023-02-28 00:00:00.000000', 'Open': 116.13999938964844, 'High': 118.06999969482422, 'Low': 114.8499984741211, 'Close': 116.1500015258789, 'Adj Close': 116.1500015258789, 'Volume': 13010900, 'Label': 'AMAT'}, {'Date': '2023-03-01 00:00:00.000000', 'Open': 117.69999694824219, 'High': 119.31999969482422, 'Low': 116.94000244140625, 'Close': 117.26000213623047, 'Adj Close': 117.26000213623047, 'Volume': 6756800, 'Label': 'AMAT'}, {'Date': '2023-03-02 00:00:00.000000', 'Open': 115.44999694824219, 'High': 119.08999633789062, 'Low': 113.93000030517578, 'Close': 118.44999694824219, 'Adj Close': 118.44999694824219, 'Volume': 6502200, 'Label': 'AMAT'}, {'Date': '2023-03-03 00:00:00.000000', 'Open': 118.75, 'High': 119.13999938964844, 'Low': 116.94999694824219, 'Close': 118.95999908447266, 'Adj Close': 118.95999908447266, 'Volume': 7232400, 'Label': 'AMAT'}, {'Date': '2023-03-06 00:00:00.000000', 'Open': 119.8499984741211, 'High': 121.5, 'Low': 118.22000122070312, 'Close': 118.54000091552734, 'Adj Close': 118.54000091552734, 'Volume': 5775700, 'Label': 'AMAT'}, {'Date': '2023-03-07 00:00:00.000000', 'Open': 118.33000183105469, 'High': 118.72000122070312, 'Low': 115.66000366210938, 'Close': 116.37000274658203, 'Adj Close': 116.37000274658203, 'Volume': 5225900, 'Label': 'AMAT'}, {'Date': '2023-03-08 00:00:00.000000', 'Open': 116.62000274658203, 'High': 119.0999984741211, 'Low': 116.62000274658203, 'Close': 118.6500015258789, 'Adj Close': 118.6500015258789, 'Volume': 4474900, 'Label': 'AMAT'}, {'Date': '2023-03-09 00:00:00.000000', 'Open': 118.69000244140625, 'High': 120.95999908447266, 'Low': 116.8499984741211, 'Close': 117.04000091552734, 'Adj Close': 117.04000091552734, 'Volume': 5701400, 'Label': 'AMAT'}, {'Date': '2023-03-10 00:00:00.000000', 'Open': 118.33999633789062, 'High': 118.62000274658203, 'Low': 113.91999816894531, 'Close': 114.38999938964844, 'Adj Close': 114.38999938964844, 'Volume': 7009600, 'Label': 'AMAT'}, {'Date': '2023-03-13 00:00:00.000000', 'Open': 113.79000091552734, 'High': 117.31999969482422, 'Low': 111.91999816894531, 'Close': 115.83999633789062, 'Adj Close': 115.83999633789062, 'Volume': 8221300, 'Label': 'AMAT'}, {'Date': '2023-03-14 00:00:00.000000', 'Open': 118.77999877929688, 'High': 121.23999786376953, 'Low': 117.87999725341797, 'Close': 120.33999633789062, 'Adj Close': 120.33999633789062, 'Volume': 8322400, 'Label': 'AMAT'}, {'Date': '2023-03-15 00:00:00.000000', 'Open': 118.5199966430664, 'High': 118.83000183105469, 'Low': 115.69999694824219, 'Close': 118.4800033569336, 'Adj Close': 118.4800033569336, 'Volume': 9517700, 'Label': 'AMAT'}, {'Date': '2023-03-16 00:00:00.000000', 'Open': 118.20999908447266, 'High': 123.43000030517578, 'Low': 116.9000015258789, 'Close': 122.83000183105469, 'Adj Close': 122.83000183105469, 'Volume': 6787700, 'Label': 'AMAT'}, {'Date': '2023-03-17 00:00:00.000000', 'Open': 123.6500015258789, 'High': 124.38999938964844, 'Low': 121.62000274658203, 'Close': 122.5999984741211, 'Adj Close': 122.5999984741211, 'Volume': 13761500, 'Label': 'AMAT'}, {'Date': '2023-03-20 00:00:00.000000', 'Open': 123.0, 'High': 124.76000213623047, 'Low': 122.43000030517578, 'Close': 124.04000091552734, 'Adj Close': 124.04000091552734, 'Volume': 4974700, 'Label': 'AMAT'}, {'Date': '2023-03-21 00:00:00.000000', 'Open': 123.87999725341797, 'High': 125.62000274658203, 'Low': 118.41000366210938, 'Close': 120.4000015258789, 'Adj Close': 120.4000015258789, 'Volume': 10090100, 'Label': 'AMAT'}, {'Date': '2023-03-22 00:00:00.000000', 'Open': 120.2699966430664, 'High': 123.73999786376953, 'Low': 118.69000244140625, 'Close': 118.86000061035156, 'Adj Close': 118.86000061035156, 'Volume': 8342500, 'Label': 'AMAT'}, {'Date': '2023-03-23 00:00:00.000000', 'Open': 121.2699966430664, 'High': 124.98999786376953, 'Low': 120.16999816894531, 'Close': 122.77999877929688, 'Adj Close': 122.77999877929688, 'Volume': 6182200, 'Label': 'AMAT'}, {'Date': '2023-03-24 00:00:00.000000', 'Open': 121.63999938964844, 'High': 122.12000274658203, 'Low': 118.05000305175781, 'Close': 119.52999877929688, 'Adj Close': 119.52999877929688, 'Volume': 6354500, 'Label': 'AMAT'}, {'Date': '2023-03-27 00:00:00.000000', 'Open': 120.75, 'High': 120.9800033569336, 'Low': 118.31999969482422, 'Close': 118.87000274658203, 'Adj Close': 118.87000274658203, 'Volume': 4628200, 'Label': 'AMAT'}, {'Date': '2023-03-28 00:00:00.000000', 'Open': 118.88999938964844, 'High': 119.05999755859375, 'Low': 115.58000183105469, 'Close': 116.4000015258789, 'Adj Close': 116.4000015258789, 'Volume': 5523800, 'Label': 'AMAT'}, {'Date': '2023-03-29 00:00:00.000000', 'Open': 118.72000122070312, 'High': 121.01000213623047, 'Low': 117.36000061035156, 'Close': 119.8499984741211, 'Adj Close': 119.8499984741211, 'Volume': 7865300, 'Label': 'AMAT'}, {'Date': '2023-03-30 00:00:00.000000', 'Open': 122.0, 'High': 123.37999725341797, 'Low': 121.33999633789062, 'Close': 122.11000061035156, 'Adj Close': 122.11000061035156, 'Volume': 6213800, 'Label': 'AMAT'}, {'Date': '2023-03-31 00:00:00.000000', 'Open': 121.5199966430664, 'High': 123.5199966430664, 'Low': 121.0, 'Close': 122.83000183105469, 'Adj Close': 122.83000183105469, 'Volume': 5014600, 'Label': 'AMAT'}, {'Date': '2023-04-03 00:00:00.000000', 'Open': 121.62999725341797, 'High': 122.44000244140625, 'Low': 120.5999984741211, 'Close': 122.31999969482422, 'Adj Close': 122.31999969482422, 'Volume': 5146800, 'Label': 'AMAT'}, {'Date': '2023-04-04 00:00:00.000000', 'Open': 122.94000244140625, 'High': 122.97000122070312, 'Low': 119.38999938964844, 'Close': 120.12000274658203, 'Adj Close': 120.12000274658203, 'Volume': 4772200, 'Label': 'AMAT'}, {'Date': '2023-04-05 00:00:00.000000', 'Open': 119.58999633789062, 'High': 119.69000244140625, 'Low': 115.6500015258789, 'Close': 117.31999969482422, 'Adj Close': 117.31999969482422, 'Volume': 6691700, 'Label': 'AMAT'}, {'Date': '2023-04-06 00:00:00.000000', 'Open': 114.18000030517578, 'High': 115.29000091552734, 'Low': 111.87000274658203, 'Close': 114.44999694824219, 'Adj Close': 114.44999694824219, 'Volume': 6275000, 'Label': 'AMAT'}, {'Date': '2023-04-10 00:00:00.000000', 'Open': 112.47000122070312, 'High': 116.70999908447266, 'Low': 112.44999694824219, 'Close': 116.5, 'Adj Close': 116.5, 'Volume': 4096500, 'Label': 'AMAT'}, {'Date': '2023-04-11 00:00:00.000000', 'Open': 117.33000183105469, 'High': 117.83000183105469, 'Low': 116.08000183105469, 'Close': 116.37999725341797, 'Adj Close': 116.37999725341797, 'Volume': 3373000, 'Label': 'AMAT'}, {'Date': '2023-04-12 00:00:00.000000', 'Open': 117.7300033569336, 'High': 117.80000305175781, 'Low': 112.87000274658203, 'Close': 113.16000366210938, 'Adj Close': 113.16000366210938, 'Volume': 5837200, 'Label': 'AMAT'}, {'Date': '2023-04-13 11:27:06.787608', 'Open': 113.53, 'High': 113.88, 'Low': 111.515, 'Close': 113.24, 'Adj Close': 113.24, 'Volume': 2015788, 'Label': 'AMAT'}]

[{'Date': '2023-02-13 00:00:00.000000', 'Open': 115.16999816894531, 'High': 116.72000122070312, 'Low': 114.55000305175781, 'Close': 116.52999877929688, 'Adj Close': 116.25773620605469, 'Volume': 4198200, 'Label': 'AMAT'}, {'Date': '2023-02-14 00:00:00.000000', 'Open': 114.87000274658203, 'High': 119.01000213623047, 'Low': 113.8499984741211, 'Close': 118.44000244140625, 'Adj Close': 118.16327667236328, 'Volume': 4870700, 'Label': 'AMAT'}, {'Date': '2023-02-15 00:00:00.000000', 'Open': 117.0, 'High': 119.58000183105469, 'Low': 115.98999786376953, 'Close': 119.45999908447266, 'Adj Close': 119.1808853149414, 'Volume': 4980000, 'Label': 'AMAT'}, {'Date': '2023-02-16 00:00:00.000000', 'Open': 116.87999725341797, 'High': 118.08000183105469, 'Low': 115.13999938964844, 'Close': 115.38999938964844, 'Adj Close': 115.12039947509766, 'Volume': 9117600, 'Label': 'AMAT'}, {'Date': '2023-02-17 00:00:00.000000', 'Open': 116.77999877929688, 'High': 117.4000015258789, 'Low': 113.37999725341797, 'Close': 115.44000244140625, 'Adj Close': 115.17028045654297, 'Volume': 9287100, 'Label': 'AMAT'}, {'Date': '2023-02-21 00:00:00.000000', 'Open': 113.63999938964844, 'High': 114.83000183105469, 'Low': 110.93000030517578, 'Close': 111.27999877929688, 'Adj Close': 111.0199966430664, 'Volume': 7583900, 'Label': 'AMAT'}, {'Date': '2023-02-22 00:00:00.000000', 'Open': 111.12000274658203, 'High': 112.37999725341797, 'Low': 109.4800033569336, 'Close': 110.41000366210938, 'Adj Close': 110.41000366210938, 'Volume': 5089200, 'Label': 'AMAT'}, {'Date': '2023-02-23 00:00:00.000000', 'Open': 112.54000091552734, 'High': 113.95999908447266, 'Low': 109.91000366210938, 'Close': 112.91000366210938, 'Adj Close': 112.91000366210938, 'Volume': 7136100, 'Label': 'AMAT'}, {'Date': '2023-02-24 00:00:00.000000', 'Open': 111.01000213623047, 'High': 112.0999984741211, 'Low': 110.37999725341797, 'Close': 111.30999755859375, 'Adj Close': 111.30999755859375, 'Volume': 5808400, 'Label': 'AMAT'}, {'Date': '2023-02-27 00:00:00.000000', 'Open': 113.51000213623047, 'High': 113.88999938964844, 'Low': 111.48999786376953, 'Close': 112.06999969482422, 'Adj Close': 112.06999969482422, 'Volume': 5362700, 'Label': 'AMAT'}, {'Date': '2023-02-28 00:00:00.000000', 'Open': 116.13999938964844, 'High': 118.06999969482422, 'Low': 114.8499984741211, 'Close': 116.1500015258789, 'Adj Close': 116.1500015258789, 'Volume': 13010900, 'Label': 'AMAT'}, {'Date': '2023-03-01 00:00:00.000000', 'Open': 117.69999694824219, 'High': 119.31999969482422, 'Low': 116.94000244140625, 'Close': 117.26000213623047, 'Adj Close': 117.26000213623047, 'Volume': 6756800, 'Label': 'AMAT'}, {'Date': '2023-03-02 00:00:00.000000', 'Open': 115.44999694824219, 'High': 119.08999633789062, 'Low': 113.93000030517578, 'Close': 118.44999694824219, 'Adj Close': 118.44999694824219, 'Volume': 6502200, 'Label': 'AMAT'}, {'Date': '2023-03-03 00:00:00.000000', 'Open': 118.75, 'High': 119.13999938964844, 'Low': 116.94999694824219, 'Close': 118.95999908447266, 'Adj Close': 118.95999908447266, 'Volume': 7232400, 'Label': 'AMAT'}, {'Date': '2023-03-06 00:00:00.000000', 'Open': 119.8499984741211, 'High': 121.5, 'Low': 118.22000122070312, 'Close': 118.54000091552734, 'Adj Close': 118.54000091552734, 'Volume': 5775700, 'Label': 'AMAT'}, {'Date': '2023-03-07 00:00:00.000000', 'Open': 118.33000183105469, 'High': 118.72000122070312, 'Low': 115.66000366210938, 'Close': 116.37000274658203, 'Adj Close': 116.37000274658203, 'Volume': 5225900, 'Label': 'AMAT'}, {'Date': '2023-03-08 00:00:00.000000', 'Open': 116.62000274658203, 'High': 119.0999984741211, 'Low': 116.62000274658203, 'Close': 118.6500015258789, 'Adj Close': 118.6500015258789, 'Volume': 4474900, 'Label': 'AMAT'}, {'Date': '2023-03-09 00:00:00.000000', 'Open': 118.69000244140625, 'High': 120.95999908447266, 'Low': 116.8499984741211, 'Close': 117.04000091552734, 'Adj Close': 117.04000091552734, 'Volume': 5701400, 'Label': 'AMAT'}, {'Date': '2023-03-10 00:00:00.000000', 'Open': 118.33999633789062, 'High': 118.62000274658203, 'Low': 113.91999816894531, 'Close': 114.38999938964844, 'Adj Close': 114.38999938964844, 'Volume': 7009600, 'Label': 'AMAT'}, {'Date': '2023-03-13 00:00:00.000000', 'Open': 113.79000091552734, 'High': 117.31999969482422, 'Low': 111.91999816894531, 'Close': 115.83999633789062, 'Adj Close': 115.83999633789062, 'Volume': 8221300, 'Label': 'AMAT'}, {'Date': '2023-03-14 00:00:00.000000', 'Open': 118.77999877929688, 'High': 121.23999786376953, 'Low': 117.87999725341797, 'Close': 120.33999633789062, 'Adj Close': 120.33999633789062, 'Volume': 8322400, 'Label': 'AMAT'}, {'Date': '2023-03-15 00:00:00.000000', 'Open': 118.5199966430664, 'High': 118.83000183105469, 'Low': 115.69999694824219, 'Close': 118.4800033569336, 'Adj Close': 118.4800033569336, 'Volume': 9517700, 'Label': 'AMAT'}, {'Date': '2023-03-16 00:00:00.000000', 'Open': 118.20999908447266, 'High': 123.43000030517578, 'Low': 116.9000015258789, 'Close': 122.83000183105469, 'Adj Close': 122.83000183105469, 'Volume': 6787700, 'Label': 'AMAT'}, {'Date': '2023-03-17 00:00:00.000000', 'Open': 123.6500015258789, 'High': 124.38999938964844, 'Low': 121.62000274658203, 'Close': 122.5999984741211, 'Adj Close': 122.5999984741211, 'Volume': 13761500, 'Label': 'AMAT'}, {'Date': '2023-03-20 00:00:00.000000', 'Open': 123.0, 'High': 124.76000213623047, 'Low': 122.43000030517578, 'Close': 124.04000091552734, 'Adj Close': 124.04000091552734, 'Volume': 4974700, 'Label': 'AMAT'}, {'Date': '2023-03-21 00:00:00.000000', 'Open': 123.87999725341797, 'High': 125.62000274658203, 'Low': 118.41000366210938, 'Close': 120.4000015258789, 'Adj Close': 120.4000015258789, 'Volume': 10090100, 'Label': 'AMAT'}, {'Date': '2023-03-22 00:00:00.000000', 'Open': 120.2699966430664, 'High': 123.73999786376953, 'Low': 118.69000244140625, 'Close': 118.86000061035156, 'Adj Close': 118.86000061035156, 'Volume': 8342500, 'Label': 'AMAT'}, {'Date': '2023-03-23 00:00:00.000000', 'Open': 121.2699966430664, 'High': 124.98999786376953, 'Low': 120.16999816894531, 'Close': 122.77999877929688, 'Adj Close': 122.77999877929688, 'Volume': 6182200, 'Label': 'AMAT'}, {'Date': '2023-03-24 00:00:00.000000', 'Open': 121.63999938964844, 'High': 122.12000274658203, 'Low': 118.05000305175781, 'Close': 119.52999877929688, 'Adj Close': 119.52999877929688, 'Volume': 6354500, 'Label': 'AMAT'}, {'Date': '2023-03-27 00:00:00.000000', 'Open': 120.75, 'High': 120.9800033569336, 'Low': 118.31999969482422, 'Close': 118.87000274658203, 'Adj Close': 118.87000274658203, 'Volume': 4628200, 'Label': 'AMAT'}, {'Date': '2023-03-28 00:00:00.000000', 'Open': 118.88999938964844, 'High': 119.05999755859375, 'Low': 115.58000183105469, 'Close': 116.4000015258789, 'Adj Close': 116.4000015258789, 'Volume': 5523800, 'Label': 'AMAT'}, {'Date': '2023-03-29 00:00:00.000000', 'Open': 118.72000122070312, 'High': 121.01000213623047, 'Low': 117.36000061035156, 'Close': 119.8499984741211, 'Adj Close': 119.8499984741211, 'Volume': 7865300, 'Label': 'AMAT'}, {'Date': '2023-03-30 00:00:00.000000', 'Open': 122.0, 'High': 123.37999725341797, 'Low': 121.33999633789062, 'Close': 122.11000061035156, 'Adj Close': 122.11000061035156, 'Volume': 6213800, 'Label': 'AMAT'}, {'Date': '2023-03-31 00:00:00.000000', 'Open': 121.5199966430664, 'High': 123.5199966430664, 'Low': 121.0, 'Close': 122.83000183105469, 'Adj Close': 122.83000183105469, 'Volume': 5014600, 'Label': 'AMAT'}, {'Date': '2023-04-03 00:00:00.000000', 'Open': 121.62999725341797, 'High': 122.44000244140625, 'Low': 120.5999984741211, 'Close': 122.31999969482422, 'Adj Close': 122.31999969482422, 'Volume': 5146800, 'Label': 'AMAT'}, {'Date': '2023-04-04 00:00:00.000000', 'Open': 122.94000244140625, 'High': 122.97000122070312, 'Low': 119.38999938964844, 'Close': 120.12000274658203, 'Adj Close': 120.12000274658203, 'Volume': 4772200, 'Label': 'AMAT'}, {'Date': '2023-04-05 00:00:00.000000', 'Open': 119.58999633789062, 'High': 119.69000244140625, 'Low': 115.6500015258789, 'Close': 117.31999969482422, 'Adj Close': 117.31999969482422, 'Volume': 6691700, 'Label': 'AMAT'}, {'Date': '2023-04-06 00:00:00.000000', 'Open': 114.18000030517578, 'High': 115.29000091552734, 'Low': 111.87000274658203, 'Close': 114.44999694824219, 'Adj Close': 114.44999694824219, 'Volume': 6275000, 'Label': 'AMAT'}, {'Date': '2023-04-10 00:00:00.000000', 'Open': 112.47000122070312, 'High': 116.70999908447266, 'Low': 112.44999694824219, 'Close': 116.5, 'Adj Close': 116.5, 'Volume': 4096500, 'Label': 'AMAT'}, {'Date': '2023-04-11 00:00:00.000000', 'Open': 117.33000183105469, 'High': 117.83000183105469, 'Low': 116.08000183105469, 'Close': 116.37999725341797, 'Adj Close': 116.37999725341797, 'Volume': 3373000, 'Label': 'AMAT'}, {'Date': '2023-04-12 00:00:00.000000', 'Open': 117.7300033569336, 'High': 117.80000305175781, 'Low': 112.87000274658203, 'Close': 113.16000366210938, 'Adj Close': 113.16000366210938, 'Volume': 5837200, 'Label': 'AMAT'}, {'Date': '2023-04-13 11:27:06.787608', 'Open': 113.53, 'High': 113.88, 'Low': 111.515, 'Close': 113.24, 'Adj Close': 113.24, 'Volume': 2015788, 'Label': 'AMAT'}]

[{'Date': '2023-02-13 00:00:00.000000', 'Open': 115.16999816894531, 'High': 116.72000122070312, 'Low': 114.55000305175781, 'Close': 116.52999877929688, 'Adj Close': 116.25773620605469, 'Volume': 4198200, 'Label': 'AMAT'}, {'Date': '2023-02-14 00:00:00.000000', 'Open': 114.87000274658203, 'High': 119.01000213623047, 'Low': 113.8499984741211, 'Close': 118.44000244140625, 'Adj Close': 118.16327667236328, 'Volume': 4870700, 'Label': 'AMAT'}, {'Date': '2023-02-15 00:00:00.000000', 'Open': 117.0, 'High': 119.58000183105469, 'Low': 115.98999786376953, 'Close': 119.45999908447266, 'Adj Close': 119.1808853149414, 'Volume': 4980000, 'Label': 'AMAT'}, {'Date': '2023-02-16 00:00:00.000000', 'Open': 116.87999725341797, 'High': 118.08000183105469, 'Low': 115.13999938964844, 'Close': 115.38999938964844, 'Adj Close': 115.12039947509766, 'Volume': 9117600, 'Label': 'AMAT'}, {'Date': '2023-02-17 00:00:00.000000', 'Open': 116.77999877929688, 'High': 117.4000015258789, 'Low': 113.37999725341797, 'Close': 115.44000244140625, 'Adj Close': 115.17028045654297, 'Volume': 9287100, 'Label': 'AMAT'}, {'Date': '2023-02-21 00:00:00.000000', 'Open': 113.63999938964844, 'High': 114.83000183105469, 'Low': 110.93000030517578, 'Close': 111.27999877929688, 'Adj Close': 111.0199966430664, 'Volume': 7583900, 'Label': 'AMAT'}, {'Date': '2023-02-22 00:00:00.000000', 'Open': 111.12000274658203, 'High': 112.37999725341797, 'Low': 109.4800033569336, 'Close': 110.41000366210938, 'Adj Close': 110.41000366210938, 'Volume': 5089200, 'Label': 'AMAT'}, {'Date': '2023-02-23 00:00:00.000000', 'Open': 112.54000091552734, 'High': 113.95999908447266, 'Low': 109.91000366210938, 'Close': 112.91000366210938, 'Adj Close': 112.91000366210938, 'Volume': 7136100, 'Label': 'AMAT'}, {'Date': '2023-02-24 00:00:00.000000', 'Open': 111.01000213623047, 'High': 112.0999984741211, 'Low': 110.37999725341797, 'Close': 111.30999755859375, 'Adj Close': 111.30999755859375, 'Volume': 5808400, 'Label': 'AMAT'}, {'Date': '2023-02-27 00:00:00.000000', 'Open': 113.51000213623047, 'High': 113.88999938964844, 'Low': 111.48999786376953, 'Close': 112.06999969482422, 'Adj Close': 112.06999969482422, 'Volume': 5362700, 'Label': 'AMAT'}, {'Date': '2023-02-28 00:00:00.000000', 'Open': 116.13999938964844, 'High': 118.06999969482422, 'Low': 114.8499984741211, 'Close': 116.1500015258789, 'Adj Close': 116.1500015258789, 'Volume': 13010900, 'Label': 'AMAT'}, {'Date': '2023-03-01 00:00:00.000000', 'Open': 117.69999694824219, 'High': 119.31999969482422, 'Low': 116.94000244140625, 'Close': 117.26000213623047, 'Adj Close': 117.26000213623047, 'Volume': 6756800, 'Label': 'AMAT'}, {'Date': '2023-03-02 00:00:00.000000', 'Open': 115.44999694824219, 'High': 119.08999633789062, 'Low': 113.93000030517578, 'Close': 118.44999694824219, 'Adj Close': 118.44999694824219, 'Volume': 6502200, 'Label': 'AMAT'}, {'Date': '2023-03-03 00:00:00.000000', 'Open': 118.75, 'High': 119.13999938964844, 'Low': 116.94999694824219, 'Close': 118.95999908447266, 'Adj Close': 118.95999908447266, 'Volume': 7232400, 'Label': 'AMAT'}, {'Date': '2023-03-06 00:00:00.000000', 'Open': 119.8499984741211, 'High': 121.5, 'Low': 118.22000122070312, 'Close': 118.54000091552734, 'Adj Close': 118.54000091552734, 'Volume': 5775700, 'Label': 'AMAT'}, {'Date': '2023-03-07 00:00:00.000000', 'Open': 118.33000183105469, 'High': 118.72000122070312, 'Low': 115.66000366210938, 'Close': 116.37000274658203, 'Adj Close': 116.37000274658203, 'Volume': 5225900, 'Label': 'AMAT'}, {'Date': '2023-03-08 00:00:00.000000', 'Open': 116.62000274658203, 'High': 119.0999984741211, 'Low': 116.62000274658203, 'Close': 118.6500015258789, 'Adj Close': 118.6500015258789, 'Volume': 4474900, 'Label': 'AMAT'}, {'Date': '2023-03-09 00:00:00.000000', 'Open': 118.69000244140625, 'High': 120.95999908447266, 'Low': 116.8499984741211, 'Close': 117.04000091552734, 'Adj Close': 117.04000091552734, 'Volume': 5701400, 'Label': 'AMAT'}, {'Date': '2023-03-10 00:00:00.000000', 'Open': 118.33999633789062, 'High': 118.62000274658203, 'Low': 113.91999816894531, 'Close': 114.38999938964844, 'Adj Close': 114.38999938964844, 'Volume': 7009600, 'Label': 'AMAT'}, {'Date': '2023-03-13 00:00:00.000000', 'Open': 113.79000091552734, 'High': 117.31999969482422, 'Low': 111.91999816894531, 'Close': 115.83999633789062, 'Adj Close': 115.83999633789062, 'Volume': 8221300, 'Label': 'AMAT'}, {'Date': '2023-03-14 00:00:00.000000', 'Open': 118.77999877929688, 'High': 121.23999786376953, 'Low': 117.87999725341797, 'Close': 120.33999633789062, 'Adj Close': 120.33999633789062, 'Volume': 8322400, 'Label': 'AMAT'}, {'Date': '2023-03-15 00:00:00.000000', 'Open': 118.5199966430664, 'High': 118.83000183105469, 'Low': 115.69999694824219, 'Close': 118.4800033569336, 'Adj Close': 118.4800033569336, 'Volume': 9517700, 'Label': 'AMAT'}, {'Date': '2023-03-16 00:00:00.000000', 'Open': 118.20999908447266, 'High': 123.43000030517578, 'Low': 116.9000015258789, 'Close': 122.83000183105469, 'Adj Close': 122.83000183105469, 'Volume': 6787700, 'Label': 'AMAT'}, {'Date': '2023-03-17 00:00:00.000000', 'Open': 123.6500015258789, 'High': 124.38999938964844, 'Low': 121.62000274658203, 'Close': 122.5999984741211, 'Adj Close': 122.5999984741211, 'Volume': 13761500, 'Label': 'AMAT'}, {'Date': '2023-03-20 00:00:00.000000', 'Open': 123.0, 'High': 124.76000213623047, 'Low': 122.43000030517578, 'Close': 124.04000091552734, 'Adj Close': 124.04000091552734, 'Volume': 4974700, 'Label': 'AMAT'}, {'Date': '2023-03-21 00:00:00.000000', 'Open': 123.87999725341797, 'High': 125.62000274658203, 'Low': 118.41000366210938, 'Close': 120.4000015258789, 'Adj Close': 120.4000015258789, 'Volume': 10090100, 'Label': 'AMAT'}, {'Date': '2023-03-22 00:00:00.000000', 'Open': 120.2699966430664, 'High': 123.73999786376953, 'Low': 118.69000244140625, 'Close': 118.86000061035156, 'Adj Close': 118.86000061035156, 'Volume': 8342500, 'Label': 'AMAT'}, {'Date': '2023-03-23 00:00:00.000000', 'Open': 121.2699966430664, 'High': 124.98999786376953, 'Low': 120.16999816894531, 'Close': 122.77999877929688, 'Adj Close': 122.77999877929688, 'Volume': 6182200, 'Label': 'AMAT'}, {'Date': '2023-03-24 00:00:00.000000', 'Open': 121.63999938964844, 'High': 122.12000274658203, 'Low': 118.05000305175781, 'Close': 119.52999877929688, 'Adj Close': 119.52999877929688, 'Volume': 6354500, 'Label': 'AMAT'}, {'Date': '2023-03-27 00:00:00.000000', 'Open': 120.75, 'High': 120.9800033569336, 'Low': 118.31999969482422, 'Close': 118.87000274658203, 'Adj Close': 118.87000274658203, 'Volume': 4628200, 'Label': 'AMAT'}, {'Date': '2023-03-28 00:00:00.000000', 'Open': 118.88999938964844, 'High': 119.05999755859375, 'Low': 115.58000183105469, 'Close': 116.4000015258789, 'Adj Close': 116.4000015258789, 'Volume': 5523800, 'Label': 'AMAT'}, {'Date': '2023-03-29 00:00:00.000000', 'Open': 118.72000122070312, 'High': 121.01000213623047, 'Low': 117.36000061035156, 'Close': 119.8499984741211, 'Adj Close': 119.8499984741211, 'Volume': 7865300, 'Label': 'AMAT'}, {'Date': '2023-03-30 00:00:00.000000', 'Open': 122.0, 'High': 123.37999725341797, 'Low': 121.33999633789062, 'Close': 122.11000061035156, 'Adj Close': 122.11000061035156, 'Volume': 6213800, 'Label': 'AMAT'}, {'Date': '2023-03-31 00:00:00.000000', 'Open': 121.5199966430664, 'High': 123.5199966430664, 'Low': 121.0, 'Close': 122.83000183105469, 'Adj Close': 122.83000183105469, 'Volume': 5014600, 'Label': 'AMAT'}, {'Date': '2023-04-03 00:00:00.000000', 'Open': 121.62999725341797, 'High': 122.44000244140625, 'Low': 120.5999984741211, 'Close': 122.31999969482422, 'Adj Close': 122.31999969482422, 'Volume': 5146800, 'Label': 'AMAT'}, {'Date': '2023-04-04 00:00:00.000000', 'Open': 122.94000244140625, 'High': 122.97000122070312, 'Low': 119.38999938964844, 'Close': 120.12000274658203, 'Adj Close': 120.12000274658203, 'Volume': 4772200, 'Label': 'AMAT'}, {'Date': '2023-04-05 00:00:00.000000', 'Open': 119.58999633789062, 'High': 119.69000244140625, 'Low': 115.6500015258789, 'Close': 117.31999969482422, 'Adj Close': 117.31999969482422, 'Volume': 6691700, 'Label': 'AMAT'}, {'Date': '2023-04-06 00:00:00.000000', 'Open': 114.18000030517578, 'High': 115.29000091552734, 'Low': 111.87000274658203, 'Close': 114.44999694824219, 'Adj Close': 114.44999694824219, 'Volume': 6275000, 'Label': 'AMAT'}, {'Date': '2023-04-10 00:00:00.000000', 'Open': 112.47000122070312, 'High': 116.70999908447266, 'Low': 112.44999694824219, 'Close': 116.5, 'Adj Close': 116.5, 'Volume': 4096500, 'Label': 'AMAT'}, {'Date': '2023-04-11 00:00:00.000000', 'Open': 117.33000183105469, 'High': 117.83000183105469, 'Low': 116.08000183105469, 'Close': 116.37999725341797, 'Adj Close': 116.37999725341797, 'Volume': 3373000, 'Label': 'AMAT'}, {'Date': '2023-04-12 00:00:00.000000', 'Open': 117.7300033569336, 'High': 117.80000305175781, 'Low': 112.87000274658203, 'Close': 113.16000366210938, 'Adj Close': 113.16000366210938, 'Volume': 5837200, 'Label': 'AMAT'}, {'Date': '2023-04-13 11:27:06.787608', 'Open': 113.53, 'High': 113.88, 'Low': 111.515, 'Close': 113.24, 'Adj Close': 113.24, 'Volume': 2015788, 'Label': 'AMAT'}]

[{'Date': '2023-02-13 00:00:00.000000', 'Open': 115.16999816894531, 'High': 116.72000122070312, 'Low': 114.55000305175781, 'Close': 116.52999877929688, 'Adj Close': 116.25773620605469, 'Volume': 4198200, 'Label': 'AMAT'}, {'Date': '2023-02-14 00:00:00.000000', 'Open': 114.87000274658203, 'High': 119.01000213623047, 'Low': 113.8499984741211, 'Close': 118.44000244140625, 'Adj Close': 118.16327667236328, 'Volume': 4870700, 'Label': 'AMAT'}, {'Date': '2023-02-15 00:00:00.000000', 'Open': 117.0, 'High': 119.58000183105469, 'Low': 115.98999786376953, 'Close': 119.45999908447266, 'Adj Close': 119.1808853149414, 'Volume': 4980000, 'Label': 'AMAT'}, {'Date': '2023-02-16 00:00:00.000000', 'Open': 116.87999725341797, 'High': 118.08000183105469, 'Low': 115.13999938964844, 'Close': 115.38999938964844, 'Adj Close': 115.12039947509766, 'Volume': 9117600, 'Label': 'AMAT'}, {'Date': '2023-02-17 00:00:00.000000', 'Open': 116.77999877929688, 'High': 117.4000015258789, 'Low': 113.37999725341797, 'Close': 115.44000244140625, 'Adj Close': 115.17028045654297, 'Volume': 9287100, 'Label': 'AMAT'}, {'Date': '2023-02-21 00:00:00.000000', 'Open': 113.63999938964844, 'High': 114.83000183105469, 'Low': 110.93000030517578, 'Close': 111.27999877929688, 'Adj Close': 111.0199966430664, 'Volume': 7583900, 'Label': 'AMAT'}, {'Date': '2023-02-22 00:00:00.000000', 'Open': 111.12000274658203, 'High': 112.37999725341797, 'Low': 109.4800033569336, 'Close': 110.41000366210938, 'Adj Close': 110.41000366210938, 'Volume': 5089200, 'Label': 'AMAT'}, {'Date': '2023-02-23 00:00:00.000000', 'Open': 112.54000091552734, 'High': 113.95999908447266, 'Low': 109.91000366210938, 'Close': 112.91000366210938, 'Adj Close': 112.91000366210938, 'Volume': 7136100, 'Label': 'AMAT'}, {'Date': '2023-02-24 00:00:00.000000', 'Open': 111.01000213623047, 'High': 112.0999984741211, 'Low': 110.37999725341797, 'Close': 111.30999755859375, 'Adj Close': 111.30999755859375, 'Volume': 5808400, 'Label': 'AMAT'}, {'Date': '2023-02-27 00:00:00.000000', 'Open': 113.51000213623047, 'High': 113.88999938964844, 'Low': 111.48999786376953, 'Close': 112.06999969482422, 'Adj Close': 112.06999969482422, 'Volume': 5362700, 'Label': 'AMAT'}, {'Date': '2023-02-28 00:00:00.000000', 'Open': 116.13999938964844, 'High': 118.06999969482422, 'Low': 114.8499984741211, 'Close': 116.1500015258789, 'Adj Close': 116.1500015258789, 'Volume': 13010900, 'Label': 'AMAT'}, {'Date': '2023-03-01 00:00:00.000000', 'Open': 117.69999694824219, 'High': 119.31999969482422, 'Low': 116.94000244140625, 'Close': 117.26000213623047, 'Adj Close': 117.26000213623047, 'Volume': 6756800, 'Label': 'AMAT'}, {'Date': '2023-03-02 00:00:00.000000', 'Open': 115.44999694824219, 'High': 119.08999633789062, 'Low': 113.93000030517578, 'Close': 118.44999694824219, 'Adj Close': 118.44999694824219, 'Volume': 6502200, 'Label': 'AMAT'}, {'Date': '2023-03-03 00:00:00.000000', 'Open': 118.75, 'High': 119.13999938964844, 'Low': 116.94999694824219, 'Close': 118.95999908447266, 'Adj Close': 118.95999908447266, 'Volume': 7232400, 'Label': 'AMAT'}, {'Date': '2023-03-06 00:00:00.000000', 'Open': 119.8499984741211, 'High': 121.5, 'Low': 118.22000122070312, 'Close': 118.54000091552734, 'Adj Close': 118.54000091552734, 'Volume': 5775700, 'Label': 'AMAT'}, {'Date': '2023-03-07 00:00:00.000000', 'Open': 118.33000183105469, 'High': 118.72000122070312, 'Low': 115.66000366210938, 'Close': 116.37000274658203, 'Adj Close': 116.37000274658203, 'Volume': 5225900, 'Label': 'AMAT'}, {'Date': '2023-03-08 00:00:00.000000', 'Open': 116.62000274658203, 'High': 119.0999984741211, 'Low': 116.62000274658203, 'Close': 118.6500015258789, 'Adj Close': 118.6500015258789, 'Volume': 4474900, 'Label': 'AMAT'}, {'Date': '2023-03-09 00:00:00.000000', 'Open': 118.69000244140625, 'High': 120.95999908447266, 'Low': 116.8499984741211, 'Close': 117.04000091552734, 'Adj Close': 117.04000091552734, 'Volume': 5701400, 'Label': 'AMAT'}, {'Date': '2023-03-10 00:00:00.000000', 'Open': 118.33999633789062, 'High': 118.62000274658203, 'Low': 113.91999816894531, 'Close': 114.38999938964844, 'Adj Close': 114.38999938964844, 'Volume': 7009600, 'Label': 'AMAT'}, {'Date': '2023-03-13 00:00:00.000000', 'Open': 113.79000091552734, 'High': 117.31999969482422, 'Low': 111.91999816894531, 'Close': 115.83999633789062, 'Adj Close': 115.83999633789062, 'Volume': 8221300, 'Label': 'AMAT'}, {'Date': '2023-03-14 00:00:00.000000', 'Open': 118.77999877929688, 'High': 121.23999786376953, 'Low': 117.87999725341797, 'Close': 120.33999633789062, 'Adj Close': 120.33999633789062, 'Volume': 8322400, 'Label': 'AMAT'}, {'Date': '2023-03-15 00:00:00.000000', 'Open': 118.5199966430664, 'High': 118.83000183105469, 'Low': 115.69999694824219, 'Close': 118.4800033569336, 'Adj Close': 118.4800033569336, 'Volume': 9517700, 'Label': 'AMAT'}, {'Date': '2023-03-16 00:00:00.000000', 'Open': 118.20999908447266, 'High': 123.43000030517578, 'Low': 116.9000015258789, 'Close': 122.83000183105469, 'Adj Close': 122.83000183105469, 'Volume': 6787700, 'Label': 'AMAT'}, {'Date': '2023-03-17 00:00:00.000000', 'Open': 123.6500015258789, 'High': 124.38999938964844, 'Low': 121.62000274658203, 'Close': 122.5999984741211, 'Adj Close': 122.5999984741211, 'Volume': 13761500, 'Label': 'AMAT'}, {'Date': '2023-03-20 00:00:00.000000', 'Open': 123.0, 'High': 124.76000213623047, 'Low': 122.43000030517578, 'Close': 124.04000091552734, 'Adj Close': 124.04000091552734, 'Volume': 4974700, 'Label': 'AMAT'}, {'Date': '2023-03-21 00:00:00.000000', 'Open': 123.87999725341797, 'High': 125.62000274658203, 'Low': 118.41000366210938, 'Close': 120.4000015258789, 'Adj Close': 120.4000015258789, 'Volume': 10090100, 'Label': 'AMAT'}, {'Date': '2023-03-22 00:00:00.000000', 'Open': 120.2699966430664, 'High': 123.73999786376953, 'Low': 118.69000244140625, 'Close': 118.86000061035156, 'Adj Close': 118.86000061035156, 'Volume': 8342500, 'Label': 'AMAT'}, {'Date': '2023-03-23 00:00:00.000000', 'Open': 121.2699966430664, 'High': 124.98999786376953, 'Low': 120.16999816894531, 'Close': 122.77999877929688, 'Adj Close': 122.77999877929688, 'Volume': 6182200, 'Label': 'AMAT'}, {'Date': '2023-03-24 00:00:00.000000', 'Open': 121.63999938964844, 'High': 122.12000274658203, 'Low': 118.05000305175781, 'Close': 119.52999877929688, 'Adj Close': 119.52999877929688, 'Volume': 6354500, 'Label': 'AMAT'}, {'Date': '2023-03-27 00:00:00.000000', 'Open': 120.75, 'High': 120.9800033569336, 'Low': 118.31999969482422, 'Close': 118.87000274658203, 'Adj Close': 118.87000274658203, 'Volume': 4628200, 'Label': 'AMAT'}, {'Date': '2023-03-28 00:00:00.000000', 'Open': 118.88999938964844, 'High': 119.05999755859375, 'Low': 115.58000183105469, 'Close': 116.4000015258789, 'Adj Close': 116.4000015258789, 'Volume': 5523800, 'Label': 'AMAT'}, {'Date': '2023-03-29 00:00:00.000000', 'Open': 118.72000122070312, 'High': 121.01000213623047, 'Low': 117.36000061035156, 'Close': 119.8499984741211, 'Adj Close': 119.8499984741211, 'Volume': 7865300, 'Label': 'AMAT'}, {'Date': '2023-03-30 00:00:00.000000', 'Open': 122.0, 'High': 123.37999725341797, 'Low': 121.33999633789062, 'Close': 122.11000061035156, 'Adj Close': 122.11000061035156, 'Volume': 6213800, 'Label': 'AMAT'}, {'Date': '2023-03-31 00:00:00.000000', 'Open': 121.5199966430664, 'High': 123.5199966430664, 'Low': 121.0, 'Close': 122.83000183105469, 'Adj Close': 122.83000183105469, 'Volume': 5014600, 'Label': 'AMAT'}, {'Date': '2023-04-03 00:00:00.000000', 'Open': 121.62999725341797, 'High': 122.44000244140625, 'Low': 120.5999984741211, 'Close': 122.31999969482422, 'Adj Close': 122.31999969482422, 'Volume': 5146800, 'Label': 'AMAT'}, {'Date': '2023-04-04 00:00:00.000000', 'Open': 122.94000244140625, 'High': 122.97000122070312, 'Low': 119.38999938964844, 'Close': 120.12000274658203, 'Adj Close': 120.12000274658203, 'Volume': 4772200, 'Label': 'AMAT'}, {'Date': '2023-04-05 00:00:00.000000', 'Open': 119.58999633789062, 'High': 119.69000244140625, 'Low': 115.6500015258789, 'Close': 117.31999969482422, 'Adj Close': 117.31999969482422, 'Volume': 6691700, 'Label': 'AMAT'}, {'Date': '2023-04-06 00:00:00.000000', 'Open': 114.18000030517578, 'High': 115.29000091552734, 'Low': 111.87000274658203, 'Close': 114.44999694824219, 'Adj Close': 114.44999694824219, 'Volume': 6275000, 'Label': 'AMAT'}, {'Date': '2023-04-10 00:00:00.000000', 'Open': 112.47000122070312, 'High': 116.70999908447266, 'Low': 112.44999694824219, 'Close': 116.5, 'Adj Close': 116.5, 'Volume': 4096500, 'Label': 'AMAT'}, {'Date': '2023-04-11 00:00:00.000000', 'Open': 117.33000183105469, 'High': 117.83000183105469, 'Low': 116.08000183105469, 'Close': 116.37999725341797, 'Adj Close': 116.37999725341797, 'Volume': 3373000, 'Label': 'AMAT'}, {'Date': '2023-04-12 00:00:00.000000', 'Open': 117.7300033569336, 'High': 117.80000305175781, 'Low': 112.87000274658203, 'Close': 113.16000366210938, 'Adj Close': 113.16000366210938, 'Volume': 5837200, 'Label': 'AMAT'}, {'Date': '2023-04-13 11:27:06.787608', 'Open': 113.53, 'High': 113.88, 'Low': 111.515, 'Close': 113.24, 'Adj Close': 113.24, 'Volume': 2015788, 'Label': 'AMAT'}]

KeyboardInterrupt: